<!DOCTYPE html>
<html>
<head>
<title>Skribbl</title>
<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
<script defer drc="script.js"></script>
</head>
<body>
    <div id="room-container">
    <% Object.keys(rooms).forEach(room => { %>
        <div><%= room %></div>
        <a href="/<%= room %>">Join</a>
    <% }) %>
    <form action="/room" method="POST">
        <input name="room" type="text" required>
        <button type="submit">New Room</button>
    </form>
    </div>
</body>
</html>
