<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Skribbl</title>
<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
<script defer drc="script.js"></script>
</head>
<body>
    <div id="room-container">
    <% Object.keys(rooms).forEach(room => { %>
        <div><%= room %></div>
        <a href="/<%= room %>">Join</a>
    <% }) %>
    <form action="/room" method="POST">
        <input name="room" type="text" required>
        <button type="submit" class="btn btn-success">New Room</button>
    </form>
    </div>
</body>
</html>
