<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Private Room</title>
<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script defer src="http://localhost:5500/socket.io/socket.io.js"></script>
<script defer src="script.js"></script>
<style>
    body {
        background-image: url("/images/background.png");
    }
    div.container {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;
        background-color: lightgrey;
        width: 650px;
        height: 600px;
        border: 15px solid rgb(32, 134, 202);
        box-shadow: 10px 10px rgb(22, 38, 88);
        padding: 50px;
    }
    div.center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2mm;
    }
    div.center_head{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1mm;
        margin-bottom: 3mm;
    }
</style>
</head>
<body>
    <div class=container>
        <div class="center_head"><h2>Create Private Room</h2></div>
        <div id="private-room-container">
            <form action="/privateroom" method="POST">
                <div class="center">
                    Room Name : <input name="room" type="text" required>
                </div>
                <div class="center">
                    Room Pass : <input name="pass" type="password" required>
                </div>
                <div class="center"><button type="submit" class="btn btn-info">New Private Room</button></div>    
            </form>
        </div>
        <br>
        <div class="center_head"><h2>Join Private Room</h2></div>
        <div id="private-room-join-container">
            <form action="/joinprivate" method="POST">
                <div class="center">
                    Room Name : <input name="room" type="text" required>
                    <button type="submit" class="btn btn-info">Join Private Room</button>
                </div>
            </form>
        </div>
    <br>
    <div class="center"><a href="/" class="btn btn-info">Create/Join Public Room</a></div>
    </div>
</body>
</html>
