<!DOCTYPE html>
<html lang="en">
<head>
  <title>Skribbl</title>
  <script>
      const roomName = "<%= roomName %>"
      const roomPass = "<%= roomPass %>"
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script defer src="http://localhost:5500/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
      display: flex;
    }

    #message-container {
      width: 30%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: 0;
    }

    #message-container div {
      background-color: rgb(60,179,113);
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

    #send-container {
      position: absolute;
      padding-bottom: 100px;
      bottom: 0;
      width: 30%;
      max-width: 1200px;
      background-color: white;
      margin-bottom: 10px;
      right: 0;
    }

    #message-input {
      width: 80%;
    }

    #whiteboard {
      height: 100%;
      width: 50%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    #colors {
      position: fixed;
    }

    .color {
      display: inline-block;
      height: 40px;
      width: 40px;
    }

    .color.black {
      background-color: black;
    }

    .color.yellow {
      background-color: yellow;
    }

    .color.green {
      background-color: green;
    }

    .color.red {
      background-color: red;
    }

    .color.blue {
      background-color: blue;
    }

    .color.grey {
      background-color: grey;
    }

    .color.white {
      background-image: white;
    }
  </style>
</head>
<body>
  <canvas id="canvas" style="border: 2px solid">Your Browser doesn't support Canvas</canvas>
  <div id="colors">
  <div class="color black" onclick="change('black')"></div>
  <div class="color blue" onclick="change('blue')"></div>
  <div class="color red" onclick="change('red')"></div>
  <div class="color green" onclick="change('green')"></div>
  <div class="color yellow" onclick="change('yellow')"></div> 
  <div class="color grey" onclick="change('white')"></div> 
  </div>
  <div id="word-container"></div>

  <input type = "range" max="20" min="1" oninput="changeWidth()" id="thickness" value="3"><br>
  <div id="start-button-container">
  <form>
    <button type="submit" id="start-button" class="btn btn-success">Start</button>
  </form>
  </div>
  <br>

  <div id="time-container"></div>
  <!-- utkarsh's part -->
  <div id="votekick-container">
    <button type="button" id="votekick-button" onclick="vote()" class="btn btn-success" disabled>Votekick</button>
  </div>

  <div id="message-container"></div>
  <div id="send-container">
  <form>
    <input type="text" id="message-input">
    <button type="submit" id="send-button" class="btn btn-success">Send</button>
  </form>
  </div>

</body>
</html>
