<!DOCTYPE html>
<html lang="en">
<head>
  <title>Skribbl</title>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script>
      const roomName = "<%= roomName %>"
      const roomPass = "<%= roomPass %>"
  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" type="text/javascript" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script defer src="http://localhost:5500/socket.io/socket.io.js"></script>
  <script defer src="script.js" type="text/javascript"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
      display: flex;
      background-image: url('/images/background.png');
    }

    #message-container {
      width: 24%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: 0;
    }

    #message-container div {
      background-color: #F5F5F5;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

    #send-container {
      position: absolute;
      padding-bottom: 100px;
      bottom: 0;
      width: 100%;
      max-width: 1200px;
      margin-bottom: 10px;
      margin-right: -10px;
      right: -750px;
    }

    #time-container {
        height: 20px;
        position: absolute;
        top: 20px;
        left: 1000px;
    }

    #message-input {
      width: 30%;
    }

    #start-button-container {
        position:relative;
        left: 40px;
    }

    #votekick-container {
        position: absolute;
        top: 800px;
    }

    #word-container {
        position: absolute;
        top: 0;
        left: 1000px;
        height: 20px;
        font-weight: bold;
    }

    #whiteboard {
      height: 100%;
      width: 50%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }

    #colors {
      position: fixed;
    }

    .color {
      display: inline-block;
      height: 40px;
      width: 40px;
    }

    .color.black {
      background-color: black;
    }

    .color.yellow {
      background-color: yellow;
    }

    .color.green {
      background-color: green;
    }

    .color.red {
      background-color: red;
    }

    .color.blue {
      background-color: blue;
    }

    .color.grey {
      background-image: url('/images/eraser.jpg');
      background-size: 100% 100%;
    }

    .color.white {
      background-image: white;
    }

    div.center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  </style>
</head>
<body>
  <canvas id="canvas" style="border: 2px solid; background: white;">Your Browser doesn't support Canvas</canvas>
  <div id="colors">
  <div class="color black" onclick="change('black')"></div>
  <div class="color blue" onclick="change('blue')"></div>
  <div class="color red" onclick="change('red')"></div>
  <div class="color green" onclick="change('green')"></div>
  <div class="color yellow" onclick="change('yellow')"></div> 
  <div class="color grey" onclick="change('white')"></div> 
  </div>
  <div id="word-container"></div>

  <input type = "range" max="20" min="1" oninput="changeWidth()" id="thickness" value="3"><br>

  <br>

  <div id="score-container"></div>
  <div id="time-container"></div>

  <div id="start-button-container">
    <form>
      <button type="submit" id="start-button" class="btn btn-success">Start</button>
    </form>
  </div>
 
 <!-- utkarsh's part -->
  <div id="votekick-container">
    <button type="button" id="votekick-button" onclick="vote()" class="btn btn-warning" disabled>Votekick</button>
  </div>

  <div class="modal" role="dialog" tabindex="-1" id="word-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Your Turn</h5>
          <button type="button" class="btn-close" data-dismiss="modal">&times;</button>
        </div>
        <div id="modal-body-word" class="center"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- 
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reg-modal">Register for Updates</button>
  
  <div class="modal-body" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
      <div class="class modal-content">
        <div class="class modal-header">
          <h5 class="modal-title" id="modal-title">The Word was: chocolate</h5>
          <h6 class="modal-title">Time is Up!!!</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div> -->

  <div id="message-container"></div>
  <div id="send-container">
  <form>
    <input type="text" id="message-input">
    <button type="submit" id="send-button" class="btn btn-success">Send</button>
  </form>
  </div>

</body>
</html>
